comp6231/assignment3/DRSClient/xml-resources/web-service-references/Vancouver/wsdl/localhost_8080/Vancouver/Vancouver.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="Vancouver">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/Vancouver/Vancouver?xsd=1"/>
</xsd:schema>
</types>
<message name="buy">
<part name="parameters" element="tns:buy"/>
</message>
<message name="buyResponse">
<part name="parameters" element="tns:buyResponse"/>
</message>
<message name="checkStock">
<part name="parameters" element="tns:checkStock"/>
</message>
<message name="checkStockResponse">
<part name="parameters" element="tns:checkStockResponse"/>
</message>
<message name="exchange">
<part name="parameters" element="tns:exchange"/>
</message>
<message name="exchangeResponse">
<part name="parameters" element="tns:exchangeResponse"/>
</message>
<message name="returnNumOfItem">
<part name="parameters" element="tns:returnNumOfItem"/>
</message>
<message name="returnNumOfItemResponse">
<part name="parameters" element="tns:returnNumOfItemResponse"/>
</message>
<portType name="Vancouver">
<operation name="buy">
<input wsam:Action="http://WS/Vancouver/buyRequest" message="tns:buy"/>
<output wsam:Action="http://WS/Vancouver/buyResponse" message="tns:buyResponse"/>
</operation>
<operation name="checkStock">
<input wsam:Action="http://WS/Vancouver/checkStockRequest" message="tns:checkStock"/>
<output wsam:Action="http://WS/Vancouver/checkStockResponse" message="tns:checkStockResponse"/>
</operation>
<operation name="exchange">
<input wsam:Action="http://WS/Vancouver/exchangeRequest" message="tns:exchange"/>
<output wsam:Action="http://WS/Vancouver/exchangeResponse" message="tns:exchangeResponse"/>
</operation>
<operation name="returnNumOfItem">
<input wsam:Action="http://WS/Vancouver/returnNumOfItemRequest" message="tns:returnNumOfItem"/>
<output wsam:Action="http://WS/Vancouver/returnNumOfItemResponse" message="tns:returnNumOfItemResponse"/>
</operation>
</portType>
<binding name="VancouverPortBinding" type="tns:Vancouver">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exchange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnNumOfItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Vancouver">
<port name="VancouverPort" binding="tns:VancouverPortBinding">
<soap:address location="http://localhost:8080/Vancouver/Vancouver"/>
</port>
</service>
</definitions>